.team-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#blk {
    color:black;
}
.bi{
    font-size: 25px;
}
.container{
    font-family: 'Times New Roman', Times, serif;
}