/* AddSkillPage.css */
/* You can add more styling as needed to fit your design. */
/* AddSkillPage.css */
.add-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc; /* Add a border around the container */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #fff; /* Set a background color */
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px; /* Add some top margin for spacing */
}

.skill-form {
  width: 100%;
}

/* Rest of your styles */


.form-group {
  margin-top: 16px;
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

