/* MyCourses.css */

.my-academics-container {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.academic-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333;
}

.academic-table th,
.academic-table td {
  border: 1px solid #333;
  padding: 8px;
}

.academic-table th {
  background-color: #333;
  color: white;
  font-weight: bold;
  text-align: left;
}

.academic-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
