body {
  background-color: #bde0e3; /* Change to the shade of grey you prefer */
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/free-photo/soft-vintage-gradient-blur-background-with-pastel-colored-well-use-as-studio-room-product-presentation-banner_1258-107712.jpg");
  background-size: cover;
}

.glassy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  backdrop-filter: none;
  
}

.profile-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  justify-self: start;
}

.profile-info {
  flex: 1;
}

.profile-info h1 {
  font-size: 28px;
  margin: 0;
  align-items: left;
  color: #333;
}

.profile-info p {
  color: #1b1111;
  align-items: left;
  margin: 0;
}

.profile-summary h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
  margin-bottom: 10px;
}

.profile-summary p {
  color: #555;
  line-height: 1.6;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: left; /* Center text and icons horizontally for other fields */
  text-align: center; /* Center text horizontally for other fields */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  width: 100%;
  position: relative;
}

.profile-section h2 {
  font-size: 20px;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
}

.profile-section ul {
  list-style: none;
  align-items: left;
  padding: 0;
  margin: 0;
}

.profile-section li {
  margin-bottom: 10px;
}

.profile-section p {
  color: #555;
  margin: 0;
}

.add-icon {
  font-size: 24px;
  color: #0073b1;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px; /* Adjust the right margin as needed */
}

.add-icon:hover {
  color:#000000 ;
}
.profile-header{
  align-items: start;
}